@import '../../global.scss';

.skills {
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;

  .arrow {
    position: absolute;
    height: 50px;
    cursor: pointer;

    @include mobile {
      height: 30px;
    }

    &.left {
      transform: rotateY(180deg);
      left: 100px;

      @include mobile {
        left: -7px;
      }
    }

    &.right {
      right: 100px;

      @include mobile {
        right: -6px;
      }
    }
  }

  .slider {
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;

    .container {
      width: 100vw;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 100%;
        max-width: 768px;
        height: 100%;
        background-color: $secondaryColor;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @include mobile {
          width: 90vw;
          height: 76%;
        }

        .right {
          flex: 0.5;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 2rem;

          @include mobile {
            display: none;
          }

          img {
            object-fit: contain;
          }
        }

        .left {
          display: flex;
          flex: 0.5;
          justify-content: center;
          align-items: center;
          height: 80%;
          padding-left: 2rem;

          @include mobile {
            padding-left: 0;
            flex: 1;
          }

          .left__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            height: 100%;
            padding-top: 1.5rem;

            @include mobile {
              width: 80%;
              align-items: center;
            }

            .img__container {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid $primaryColor;

              img {
                object-fit: contain;
              }
            }

            h2 {
              font-size: 1.35rem;
              margin-bottom: 0.5rem;

              @include mobile {
                font-size: 1.1rem;
              }
            }

            .frontend__exp {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;

              .frontend__exp__item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 10px;
                gap: 10px;
                height: 40px;
                border-radius: 10px;
                background-color: $primaryColor;
                color: $secondaryColor;
                font-size: 0.8rem;
              }

              @include mobile {
                gap: 6px;

                .frontend__exp__item {
                  padding: 2px 5px;
                  height: 30px;
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
