@import '../../global.scss';

.contact {
  background-color: $secondaryColor;
  display: flex;
  gap: 2rem;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    background-color: #c7c6c677;

    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 60px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      /* stylelint-disable-next-line */
      font-size: clamp(2rem, 5vw, 3.5rem);
      color: $primaryColor;
      margin-bottom: 1.5rem;
    }

    form {
      padding-inline: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;
      font-size: 1rem;

      @include mobile {
        width: 90%;
        // height: 90%;
      }

      input {
        width: 100%;
        border: 2px solid $btn-color;
        padding: 1rem;
        outline: none;
        font-size: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @include mobile {
          margin: 5px 0;
        }
      }

      textarea {
        font-size: inherit;
        width: 100%;
        height: 200px;
        border: 2px solid $btn-color;
        outline: none;
        padding: 5px 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @include mobile {
          margin: 5px 0;
        }
      }

      button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        padding: 0.5rem 3rem;
        background: $btn-color;
        box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.6);
        overflow: hidden;
        border: none;

        &::after {
          content: ' ';
          width: 0%;
          height: 100%;
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          transition: all 0.4s ease-in-out;
          right: 0;
        }

        &:hover::after {
          right: auto;
          left: 0;
          width: 100%;
        }

        span {
          text-align: center;
          text-decoration: none;
          width: 100%;
          padding: 18px 25px;
          color: $secondaryColor;
          font-size: 1.125em;
          font-weight: 700;
          letter-spacing: 0.3em;
          z-index: 20;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          span {
            color: $secondaryColor;
            animation: scaleUp 0.3s ease-in-out;
          }
        }

        @keyframes scaleUp {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(0.95);
          }

          100% {
            transform: scale(1);
          }
        }

        &:active {
          transform: scale(1.1);

          span {
            background-color: $secondaryColor;
            color: $btn-color;
            transition: background-color 1s ease-out;
          }
        }
      }
    }
  }
}
