@import '../../global.scss'; // Import global variables

.intro {
  background-color: $secondaryColor;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 3.75rem;
        margin: 10px 0;

        @include mobile {
          font-size: 2.5rem;
        }
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.5rem;
        display: flex;
        gap: 5px;

        @include mobile {
          font-size: 1.13rem;
        }

        span {
          font-size: inherit;
          color: $btn-color;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 45%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .img__container {
      width: 700px;
      height: 700px;
      background-color: $btn-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      @include mobile {
        align-items: flex-start;
      }

      img {
        height: 100%;

        @include mobile {
          height: 50%;
        }
      }
    }
  }
}
