@import '../../global.scss'; // Import global variables

.intro {
  background-color: $secondaryColor;
  display: flex;

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 3.75rem;
        margin: 10px 0;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.5rem;
        display: flex;
        gap: 5px;

        span {
          font-size: inherit;
          color: #86091b;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 45%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .img__container {
      width: 700px;
      height: 700px;
      background-color: #86091b;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      img {
        height: 100%;
      }
    }
  }
}
