@import './global.scss';

.App {
  section {
    height: 100vh;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;

    @include mobile {
      height: unset;

      .skills {
        height: 100vh;
      }
    }

    // > * {
    //   scroll-snap-align: start;
    // }
  }
}
