@import './global.scss';

.App {

  section {
    height: 100vh;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    @include mobile {
      height: unset;
    }

    > * {
      scroll-snap-align: start;
    }
  }
}
