$primaryColor: #15023a;
$secondaryColor: #fff;
$tertiaryColor: #f5f5f5;
$glow-color: rgb(217, 176, 255);
$glow-spread-color: rgba(191, 123, 255, 0.781);
$enhanced-glow-color: rgb(231, 206, 255);
$btn-color: rgb(100, 61, 136);
